@model DeanReports.ViewModels.ChargeListViewModel
@{
    ViewBag.Title = "הצגת טפסי חיוב חדשים";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section mainContent {
    @foreach (var c in Model.List)
    {
        <div class="blockWrapper">
            <div class="block borderTopBlue">
                <div class="blockTitle">
                    פרטי חיוב
                    <button type="button" class="actions">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropDownActions">
                        <li><a href="/Admin/DeleteCharge?chargeID=@c.ID">מחק בקשה</a></li>
                        <li><a href="/Admin/ConfirmCharge?chargeID=@c.ID">אשר בקשה</a></li>
                    </ul>
                </div>
                <div class="blockContent">
                    <div class="requestDetails">
                        <div class="groupFour">
                            <div class="refDetailsItem">
                                <div>מס' בקשה:</div>
                                <div>@c.ID</div>
                            </div>
                            <div class="refDetailsItem">
                                <div>תאריך:</div>
                                <div>@c.Date</div>
                            </div>
                            <div class="refDetailsItem">
                                <div>שם סטודנט:</div>
                                <div class="requestUsername">@c.StudentUserName</div>
                            </div>
                            <div class="userDetailsWindow">
                                <span class="firstName"></span>
                                <br>
                                <span class="lastName"></span>
                            </div>
                            <div class="refDetailsItem">
                                <div>שם חונך:</div>
                                <div>@c.TeacherUserName</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                        <div class="groupFour">
                            <div class="refDetailsItem">
                                <div>עלות לשעה:</div>
                                <div>@c.CostPerHour</div>
                            </div>
                            <div class="refDetailsItem">
                                <div>סה"כ שעות סיוע:</div>
                                <div>@c.SumOfHours</div>
                            </div>
                            <div class="refDetailsItem">
                                <div>סה"כ חיוב לתשלום:</div>
                                <div>@c.SumOfBill</div>
                            </div>
                            <div class="refDetailsItem">
                                <div>הערות:</div>
                                <div>@c.Notes</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                        <form action="/Admin/UpdateCharge" method="post" class="requestInternal">
                            <input type="hidden" name="ID" value="@c.ID" />
                            <div class="inputWrapper">
                                <input type="text" name="BudgetNumber" value="" placeholder="מס תקציב" class="loginInputs" />
                                <i class="fa fa-hourglass-half inputsIcons" aria-hidden="true"></i>
                                <div class="clear"></div>
                            </div>
                            <div class="inputWrapper">
                                <input type="text" name="FundSource" value="" placeholder="מקור מימון" class="loginInputs" />
                                <i class="fa fa-user inputsIcons" aria-hidden="true"></i>
                                <div class="clear"></div>
                            </div>
                            <label for="requestSignature" id="requestSignaturelbl">
                                מאשר בקשה זו
                                <input id="requestSignature" type="checkbox" name="ManagerSignature" value="true" checked />
                            </label>
                            <input type="submit" name="submit" value="עדכן" class="updateSubmit" onclick="setCheckBoxVal();" />
                        </form>
                        <div class="clear"></div>
                    </div>
            </div>
        </div>
    }
}