
<!DOCTYPE html>
<html lang="he">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css" />
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body>
    @{
        var fb = TempData["FancyBox"] as DeanReports.ViewModels.FancyBox;
        if (fb != null && !fb.Valid)
        {
            <a class="fancyTrigger" href="#TheFancybox"></a>
            <!-- <hr> -->
            <div id="TheFancybox">@fb.Message</div>
        }
    }
    <div class="header">
        <a href="#" class="logoHref"><span class="bold">Admin</span>LTE</a>
        <div class="topMenuWrapper">
            <button type="button" class="menuBtn">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </button>
            <ul class="topMenu">
                <li>
                    <a href="#">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </a>
                </li>
                <li id="userToggle">
                    <a href="#">
                        <img src="~/Content/images/user.jpg" alt="" class="user">
                        <span class="userName">@Session["Username"]</span>
                    </a>
                    <div class="userProfile">
                        <div class="profileImg">
                            <img src="~/Content/images/user.jpg" alt="" class="userProfileImg" />
                            <div class="userProfileDetails">
                                @Session["FullName"] - @Session["Type"]<br>
                                <span class="since">חבר במערכת מנובמבר 2015</span>
                            </div>
                        </div>
                        <div class="profileActions">
                            <a href="/Authentication/UserProfile" class="profile">פרופיל</a>
                            <a href="/Authentication/Logout" class="signOut">צא</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <a id="messagesParent" href="#">
                        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                        @{
                            List<DeanReports.Models.Messages> messages = 
                                Session["Messages"] as List<DeanReports.Models.Messages>;
                            int NUM_OF_MESSAGES = 0;
                            if (messages != null)
                            {
                                NUM_OF_MESSAGES = messages.Count();
                            }
                            if (NUM_OF_MESSAGES > 0)
                            { 
                                <span class="label label-success">@NUM_OF_MESSAGES</span>
                            }
                        }
                    </a>
                    <ul class="messagesDropDown">
                        <li class="messagesTitle">יש לך @NUM_OF_MESSAGES הודעות</li>
                        <li>
                            <div class="messagesContent">
                                <ul class="messagesList">
                                    @foreach (DeanReports.Models.Messages item in messages)
                                    {
                                        <li>
                                            <a href="#">
                                                <img src="~/Content/images/user.jpg" alt="userimg" class="userMessageImg" />
                                                <h4 class="messageHeader">@item.Subject</h4>
                                                <span class="messageShortContent">@item.Content</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </li>
                        <li><a class="seeAllMessages" href="#">ראה את כל ההודעות</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span class="label label-warning">10</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-flag-o" aria-hidden="true"></i>
                        <span class="label label-danger">6</span>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <div class="sideBarWrapper">
            <div class="userDetailsWrapper">
                <img src="~/Content/images/user.jpg" alt="" class="userDetailsImg" />
                <div class="userDetails">
                    <span class="fullname">כניסה אחרונה: <br>@Session["LastLoginHour"] @Session["LastLoginDate"]</span>
                    <br>
                    <span class="type">סוג: @Session["Type"]</span>
                </div>
                <div class="clear"></div>
            </div>
            <form action="" method="get" class="searchForm">
                <input type="text" class="search" value="" placeholder="חיפוש..." />
                <button type="submit" class="submit">
                    <i class="fa fa-search"></i>
                </button>
                <div class="clear"></div>
            </form>
            <div class="title">
                תפריט ראשי
            </div>
            <ul class="sideBar">
                <li>
                    <a href="#">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        <span class="sideBarTitles">איזור אישי</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="toggleMenu">
                    <a href="#">
                        <i class="fa fa-files-o" aria-hidden="true"></i>
                        <span class="sideBarTitles">הגשת בקשות</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        @*<span class="label labelBlue labelLeft">4</span>*@
                    </a>
                    <ul class="innerMenu">
                        <li><a href="/Student/CreateNewRequest?FormType=General"><i class="fa fa-circle-o"></i>כללי</a></li>
                        <li><a href="/Student/CreateNewRequest?FormType=English"><i class="fa fa-circle-o"></i>אנגלית</a></li>
                    </ul>
                </li>
                <li id="ShowRequests">
                    <a href="/Student/ShowRequests">
                        <i class="fa fa-th" aria-hidden="true"></i>
                        <span class="sideBarTitles">צפייה בבקשות</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/Teacher/CreateNewRefund">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <span class="sideBarTitles">יצירת טופס חונכות</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/Teacher/CreateNewSession">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                        <span class="sideBarTitles">יצירת פגישה</span>
                         <i class="fa fa-angle-right" aria-hidden="true"></i> 
                        @*<span class="label labelGreen labelLeft">8</span>*@
                    </a>
                </li>
                <li>
                    <a href="/Teacher/ShowSessions">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                        <span class="sideBarTitles">צפייה בפגישות</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/Admin/ShowNewRequests">
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span class="sideBarTitles">בקשות חדשות</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <span class="sideBarTitles">פריט</span>
                         <i class="fa fa-angle-right" aria-hidden="true"></i> 
                        @*<span class="label labelRed labelLeft">6</span>*@
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span class="sideBarTitles">פריט</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-folder" aria-hidden="true"></i>
                        <span class="sideBarTitles">פריט</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <span class="sideBarTitles">פריט</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span class="sideBarTitles">פריט</span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <div class="clear"></div>
            <div class="title">
                תוספות
            </div>
        </div>
        <div class="mainContent">
            @RenderSection("mainContent", false)
        </div>
        <div class="clear"></div>
        <div class="push"></div>
    </div>
    <div class="footer">
        <span class="rights">&reg; All the rights reserved to Idan &amp; Nisim</span>
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-he.js"></script>
    <script src="~/Scripts/functions.js"></script>
</body>
</html>
