@model DeanReports.ViewModels.RefundListViewModel
@{
    ViewBag.Title = "הפגישות שלי";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section mainContent {
    @foreach (var r in Model.List)
    {
        <div class="refundTableWrapper">
            <h3 style="text-align:right;">@r.ID - @r.TeacherUserName - @r.LecturerName- @r.CourseID - @r.Date - @r.IsGrouped</h3>
                <input type="hidden" name="RefundID" value="@r.ID" />
                <input type="hidden" name="TeacherUserName" value="@r.TeacherUserName" />
            <div class="table">
                <div class="tr">
                    <div class="td">קוד בקשה</div>
                    <div class="td">שם סטודנט</div>
                    <div class="td">תאריך</div>
                    <div class="td">שעת התחלה</div>
                    <div class="td">שעת סיום</div>
                    <div class="td">סה"כ שעות</div>
                    <div class="td">הערות</div>
                    <div class="td">מאושר</div>
                    <div class="td">מחיקה</div>
                </div>
                @foreach (var sesssion in r.RefundSessions)
                {
                    <div class="tr">
                        <div class="td">@sesssion.ID</div>
                        <div class="td">@sesssion.StudentUserName</div>
                        <div class="td">@sesssion.Date</div>
                        <div class="td">@sesssion.StartHour</div>
                        <div class="td">@sesssion.EndHour</div>
                        <div class="td">@sesssion.SumHoursPerSession</div>
                        <div class="td">@sesssion.Details</div>
                        <div class="td">@sesssion.StudentSignature</div>
                        <div class="td"><a href="/Teacher/DeleteSession?sessionID=@sesssion.ID"><i class="fa fa-trash" aria-hidden="true"></i></a></div>
                    </div>
                }
             </div>
            <br><br>
            <a href="/Teacher/CreateNewSession?refundID=@r.ID" style="float: right;">הוסף פגישה לטופס הנוכחי</a>            
        </div>
        <br><br>
    }
}