@model DeanReports.ViewModels.RequestViewModel
@{
    ViewBag.Title = "יצירת בקשה חדשה";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section  mainContent {
<div class="blockWrapper">
    <div class="block borderTopBlue">
        <div class="blockTitle">
            פרטי בקשה
        </div>
        <form action="/Student/CreateNewRequest" method="post" class="formWrapper">
            @*<label for="" id="" name="" class="programsLbl">בחירת תוכנית</label>*@
            <div class="inputWrapper">
                <select id="" name="SelectedPrograms" class="programs" multiple="multiple">
                    @foreach (var program in Model.ProgramsCombo)
                    {
                        <option value="@program.ID">@program.Name</option>
                    }
                </select>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <div class="requestedCourses">
                <div class="courseWrapper">
                    <label for="" id="" name="" class="lecturerNameLbl">שם המרצה</label>
                    <input type="text" id="" name="LecturerName" class="lecturerNameTxt" />
                    <select id="" name="SelectedCourses" class="courses">
                        @foreach (var course in Model.CoursesCombo)
                        {
                            <option value="@course.ID">@course.Name</option>
                        }
                    </select>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
            <a href="#" id="addCourse">הוסף קורס <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            <div class="clear"></div>
            <div class="updateSubmitWraspper">
                <input type="submit" name="submit" value="שלח בקשה" class="updateSubmit" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var coursesArr = [];

    @foreach (var d in Model.CoursesCombo)
    {
        @:coursesArr.push({ id: "@d.ID", name: "@d.Name" });
    }
</script>
}
